<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	<property name="log.base" value="/BHUData/logs/unitlogs/msip-unit-input/${consumer.instanceno}/inputprocessor" />
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>	

	<appender name="unitqueuerecv" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}.unitqueuerecv.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.unitqueuerecv.zip</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>	

	<logger name="com.bhu.vas.processor" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="unitqueuerecv" />
	</logger>	
	
	<root level="WARN">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root> 
</configuration>


