<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	<property name="log.base" value="/VCData/logs/im/cm/${instance.cm}/imcmlogs" />
	<property name="bulog.base" value="/VCData/bulogs/im/cm/${instance.cm}/imcmlogs" />
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="imreceiverlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${bulog.base}.imreceiver.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${bulog.base}.imreceiver.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="imdispatcherlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${bulog.base}.imdispatcher.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${bulog.base}.imdispatcher.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="bdlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${bulog.base}.bdlogfile.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${bulog.base}.bdlogfile.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="staticslogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.statics.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.statics.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>	
	
	<logger name="com.smartwork.multiplexer.net.ConnectionHandler" additivity="false">
		<level value="INFO" />
		<!--  
		<appender-ref ref="stdout" />-->
		<appender-ref ref="imreceiverlogfile" />
	</logger>
	
	<logger name="com.smartwork.im.net.NIOConnection" additivity="false">
		<level value="INFO" />
		<!--
		<appender-ref ref="stdout" />-->
		<appender-ref ref="imdispatcherlogfile" />
	</logger>
	
	<logger name="com.smartwork.im.logger.BusinessDefinedLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="bdlogfile" />
	</logger>
	
	<logger name="com.smartwork.multiplexer.component.statics.ServerStaticsManager" additivity="false">
		<level value="INFO" />
		<appender-ref ref="staticslogfile" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root> 
</configuration>

