.DS_Store
Icon.png
logs/*
log/*.log
logs
datalogs/*
datalog/*.log
datalogs
tmp/
.bundle
db/*.sqlite3
.svn/*
.sass-cache/
**/target/*
**/bin/*
**/build/*
**/build.jar/*
**/.settings/*
**/.classpath
**/.project
**/msip-bhu-deploy/deploy/*
.idea
*.iml
**/.gitignore
bhu-parent.ipr
bhu-parent.iws
