.DS_Store
Icon.png
logs/*
log/*.log
logs
datalogs/*
datalog/*.log
datalogs
tmp/
.bundle
db/*.sqlite3
.svn/*
.sass-cache/
**/target/*
**/bin/*
**/build/*
**/build.jar/*
**/classes/*
**/.settings/*
**/.classpath
**/.project
**/msip-bhu-deploy/deploy/*
.idea
.metadata/
.recommenders/
*.iml
**/.gitignore
bhu-parent.ipr
bhu-parent.iws
msip-bhu-api/msip_bhu_agent_rest/src/main/java/com/bhu/vas/web/user/LoginSessionController.java