<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="true">
	<bean
    class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
        <list>
            <bean
                class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text" />
                            <constructor-arg index="1" value="plain" />
                            <constructor-arg index="2" value="UTF-8" />
                        </bean>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text" />
                            <constructor-arg index="1" value="html" />
                            <constructor-arg index="2" value="UTF-8" />
                        </bean>
                    </list>
                </property>
            </bean>
        </list>
    </property>
</bean>
	<context:component-scan base-package="com.bhu.statistics.controller" />
	<context:annotation-config />
	 
<!-- 	<bean -->
<!-- 		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"> -->
<!-- 		<property name="interceptors"> -->
<!-- 			<list> -->
<!-- 				<ref bean="timeInterceptor" /> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="timeInterceptor" class="com.bao.interceptor.TimeInterceptor"> -->
<!-- 	</bean>  -->
<!-- 	<bean -->
<!-- 		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"> -->
<!-- 		<property name="webBindingInitializer"> -->
<!-- 			<bean -->
<!-- 				class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer"> -->
<!-- 				<property name="validator" ref="validator" /> -->
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	<!-- Creates the JSR-303 Validator -->
<!-- 	<bean id="validator" -->
<!-- 		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" /> -->

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
<!-- 		<property name="suffix" value=".jsp" /> -->
	</bean>

	<bean id="exceptionResolver"
		class="org.springframework.web.portlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000000000" />
	</bean>
	<bean id="fileUploadRepository" class="java.io.File">
	</bean>
</beans>
