<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util = "http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		">
<!-- 
	<util:map id="messageHandlers" value-type="com.smartwork.async.messagequeue.kafka.parser.iface.IMessageHandler">  
	    <entry key="CommonMessageQueue" value-ref="commonMessageHandler">  
	    </entry>
	</util:map> 
	
	<bean id="commonMessageHandler" class="com.smartwork.async.messagequeue.kafka.parser.impl.CommonMessageHandler"/>
	
	 -->
	 
	<util:map id="messageHandlers" value-type="com.smartwork.async.messagequeue.kafka.parser.iface.IMessageHandler">  
	    <entry key="${kafka.topic}" value-ref="msMessageHandler">  
	    </entry>
	</util:map> 
	
	<bean id="msMessageHandler" class="com.bhu.vas.business.backendws.parser.ModuleStatMessageHandler"/>
	 
</beans>