<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	
	<property name="log.base" value="/Users/zongshuai/zhongshui" />
	<!-- 
	<substitutionProperty name="datalog.base" value="../logs/msip-business-data" />
	 -->
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{15} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>	

	<appender name="payment" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}.unitrequest.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd_HH}.payment.zip</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{15} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="payment_rest" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}.unitfacade.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd_HH}.payment_rest.zip</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{15} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.bhu.vas.rpc.service" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="payment_rest" />
	</logger>

	<logger name="com.bhu.vas.web.service" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="payment_rest" />
	</logger>
	
	<logger name="com.bhu.vas.web.payment" additivity="false" level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="payment" />
	</logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root> 
</configuration>

