<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">
	<description>Quartz的本地Cron式执行任务配置</description>
	
	<!-- spring的属性加载器，加载properties文件中的属性 -->  
	<bean id="advertisePropertyConfigurer"  
	    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		<property name="ignoreUnresolvablePlaceholders" value="true" /> 
	    <property name="location">
			<value>classpath:/deploy/runtimeconf/adtask.properties</value>
	    </property>  
	    <property name="fileEncoding" value="utf-8" />  
	</bean>

	<!-- Quartz本地Schduler -->
	<bean id="localQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<!-- Triggers集成 -->
		<property name="triggers">
			<list>
			
				<!-- 每天23点50-59分 每分钟执行一次 -->
				<ref bean="advertiseBackendTaskLoaderCronTrigger" />	
				<!-- 每天中午十二点执行一次 -->
				<ref bean="advertiseOnPublishDevicesStatisticsLoaderCronTrigger" />	
				<!-- 每天三十秒执行一次 -->
				<ref bean="advertisePaymentTimeOutTaskLoaderCronTrigger" />
				<!-- 每天23点45分执行 -->
				<!-- <ref bean="advertiseAllClearTaskLoaderCronTrigger" /> -->
				<!-- 每小时执行一次分成 -->
				<ref bean="advertiseSharedealTaskLoaderCronTrigger" />
				<!-- 每天八点提交短信 -->
				<ref bean="advertiseSortMessageSenderTaskLoaderCronTrigger" />
				<!-- 每天一点统计pvuv -->
				<ref bean="advertisePVUVStatTaskLoaderCronTrigger" />
			</list>
		</property>
		<!-- Quartz配置 -->
		<property name="quartzProperties">
			<props><prop key="org.quartz.threadPool.threadCount">5</prop></props>
		</property>
		<!-- 启动时延期3秒开始任务 -->
		<property name="startupDelay" value="3" />
	</bean>
	
	<!-- 正常发布逻辑  -->
	<bean id="advertiseBackendTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertiseBackendTaskLoaderCronJobDetail" />
		<!-- 	<property name="cronExpression" value="0 50-59 23 * * ?" /> -->
		<property name="cronExpression" value="${advertise.cronjob}" />
		
		<!-- <property name="cronExpression" value="0 0/1 * * * ?" /> -->
	</bean>
	<bean id="advertiseBackendTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertiseBackendTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertiseBackendTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertiseBackendTaskLoader" />
	
	<!-- 每天中午十二点统计符合分成的设备 -->
	<bean id="advertiseOnPublishDevicesStatisticsLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertiseOnPublishDevicesStatisticsLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 0 12 * * ? " /> -->
		<property name="cronExpression" value="${advertise.publish.stat}" />
		<!-- <property name="cronExpression" value="0 0/5 * * * ?" /> -->
	</bean>
	<bean id="advertiseOnPublishDevicesStatisticsLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertiseOnPublishDevicesStatisticsLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertiseOnPublishDevicesStatisticsLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertiseOnPublishDevicesStatisticsLoader" />
	
	<!-- 支付十分钟超时检测 每30秒执行一次 -->
	<bean id="advertisePaymentTimeOutTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertisePaymentTimeOutTaskLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0/30 * * * * ? " /> -->
		<property name="cronExpression" value="${advertise.payment.timeout}" />
	</bean>
	<bean id="advertisePaymentTimeOutTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertisePaymentTimeOutTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertisePaymentTimeOutTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertisePaymentTimeOutTaskLoader" />
	
	<!-- 每天23点五十分 广告数据全清 -->
	<bean id="advertiseAllClearTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertiseAllClearTaskLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 45 23 * * ? " /> -->
		<property name="cronExpression" value="${advertise.all.clear}" />
		<!-- <property name="cronExpression" value="0 0/20 * * * ? " /> -->
	</bean>
	<bean id="advertiseAllClearTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertiseAllClearTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertiseAllClearTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertiseAllClearTaskLoader" />


	<!-- 每小时执行一次广告分成 -->
	<bean id="advertiseSharedealTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertiseSharedealTaskLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 0 0/1 * * ?" /> -->
		<property name="cronExpression" value="${advertise.sharedeal}" />
	</bean>
	<bean id="advertiseSharedealTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertiseSharedealTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertiseSharedealTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertiseSharedealTaskLoader" />
	
	<!-- 每天八点提交短信 -->
	<bean id="advertiseSortMessageSenderTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertiseSortMessageSenderTaskLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 0 0/1 * * ?" /> -->
		<property name="cronExpression" value="${advertise.sms}" />
	</bean>
	<bean id="advertiseSortMessageSenderTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertiseSortMessageSenderTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertiseSortMessageSenderTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertiseSortMessageSenderTaskLoader" />

	<!-- 每天凌晨一点统计昨天广告的pvuv -->
	<bean id="advertisePVUVStatTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="advertisePVUVStatTaskLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 0 1 * * ?" /> -->
		<property name="cronExpression" value="${advertise.pvuv}" />
	</bean>
	<bean id="advertisePVUVStatTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="advertisePVUVStatTaskLoaderTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="advertisePVUVStatTaskLoaderTaskLoaderJob" class="com.bhu.vas.plugins.quartz.AdvertisePVUVStatTaskLoader" />

	
</beans>
