<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	
	<!-- <property name="log.base" 		value="/BHUData/logs/backendonline/backendonline" />
	<Property name="datalog.base" 	value="/BHUData/bulogs/actionlogs/business-data-action" /> -->
	<!-- <Property name="flowlog.base" 	value="/BHUData/bulogs/flowlogs/business-data-flow" /> -->
	<Property name="status.base" 	value="/BHUData/ualogs/" />
	
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date-%msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${status.base}.%d.business-reporting</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${status.base}.%d.business-reporting.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date-%msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="com.bhu.vas.business.backendcommdity.asyncprocessor" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</logger>
	
	<logger name="com.bhu.vas.business.ds.commdity.facade" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</logger>
	
	<logger name="com.bhu.vas.business.backend.terminalstatus.logger" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root> 
</configuration>

