<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	
	<!-- <property name="log.base" 		value="/BHUData/logs/backendonline/backendonline" />
	<Property name="datalog.base" 	value="/BHUData/bulogs/actionlogs/business-data-action" /> -->
	<Property name="flowlog.base" 	value="/BHUData/bulogs/reportinglogs" />
	<!-- <Property name="status.base" 	value="E:/logs/" /> -->
	
	<jmxConfigurator />
	<timestamp key="bySecond" datePattern="yyyyMMddHHmmss"/>   

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${status.base}${bySecond}.business-reporting</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${status.base}%d{yyyyMMddHHmmss}.business-reporting.zip</FileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date - %msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="com.bhu.vas.business.backend.terminalstatus.logger.TerminalStatusNotifyLogger" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="logfile" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</root>
</configuration>

