<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" default-lazy-init="true">
	
	<import resource="classpath*:com/bhu/vas/plugins/quartz/applicationContext-quartz.xml"/>
	<import resource="classpath*:springunit/applicationContextRpc*.xml"/>
	<!-- 
	<import resource="classpath*:com/et/msip/plugins/mail/applicationContext-mail.xml"/> -->
	<!-- load activemq ticker business conf "classpath:springmq/applicationContext-activemq-server.xml", "classpath:springmq/applicationContext-activemq-message-producer.xml" -->
	<!-- 
	<import resource="classpath*:springmq/applicationContext-activemq-server.xml"/>
	<import resource="classpath*:springmq/applicationContext-activemq-deliver-producer.xml"/>
	<import resource="classpath*:springmq/applicationContext-activemq-message-producer.xml"/> -->
</beans>
