<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF /ETdata/-->
	
	<property name="log.base" value="/VCData/logs/weblogs/msip-rest" />
	<!-- 
	<substitutionProperty name="datalog.base" value="../logs/msip-business-data" />
	 -->
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<!--
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.${instance.no}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.${instance.no}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	  -->
	  <!-- add by dongrui 2016-06-20 start -->
	  <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">  
	        <!-- 过滤器，只记录INFO级别的日志 -->  
	        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
	            <level>INFO</level>  
	            <onMatch>ACCEPT</onMatch>  
	            <onMismatch>DENY</onMismatch>  
	        </filter>  
	        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	            <!-- 按天回滚 daily -->  
	            <fileNamePattern>${log_dir}/%d{yyyy-MM-dd}/info-log.log  
	            </fileNamePattern>  
	            <!-- 日志最大的历史 60天 -->  
	            <maxHistory>${maxHistory}</maxHistory>  
	        </rollingPolicy>  
	        <encoder>  
	            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>  
	        </encoder>  
    	</appender>
    	<!-- add by dongrui 2016-06-20 E N D -->
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<!-- 
		<appender-ref ref="logfile" />
		 -->
	</root> 
</configuration>

