<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF -->
	<property name="log.base" value="/BHUData/logs/msip-test" />
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="testlogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}.test.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyy-MM-dd}.testlog.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg%n</pattern>
		</layout>
	</appender>
	<!-- 
	<logger name="com.et.msip.cores.orm.logger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="testlogfile" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger> -->
	<root>
		<level value="WARN" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root> 
</configuration>

