<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright 1999-2011 Alibaba Group.
 -  
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -  
 -      http://www.apache.org/licenses/LICENSE-2.0
 -  
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<import resource="classpath*:/springstore/applicationContext*.xml"/>
    <!-- Application name -->
    <dubbo:application name="${appname}"  />
    <!-- registry address, used for service to register itself -->
    <!-- 
    <dubbo:registry address="multicast://224.5.6.7:1234" />
  -->
 	<dubbo:registry protocol="zookeeper" address="${zookeeper}" />
 
    <!-- expose this service through dubbo protocol, through port 20881 -->
    <dubbo:protocol name="dubbo" port="${provider.port}" />
	<dubbo:monitor protocol="registry"></dubbo:monitor>
	<!--  accesslog="/Users/tangzichao/access.log"-->
	<dubbo:service delay="5000" timeout="2000" retries="0" actives="100" loadbalance="random"  
		interface="com.bhu.vas.api.rpc.task.iservice.ITaskRpcService" ref="taskRpcService" 
		stub="com.bhu.vas.api.rpc.task.stub.TaskServiceStub" />
	<dubbo:service delay="5000" timeout="2000" retries="0" actives="100" loadbalance="random"  
		interface="com.bhu.vas.api.rpc.charging.iservice.IChargingRpcService" ref="chargingRpcService" />	
	<dubbo:service delay="5000" timeout="2000" retries="0" actives="100" loadbalance="random"
		interface="com.bhu.vas.api.rpc.statistics.iservice.IStatisticsRpcService" ref="statisticsRpcService"/>
    <dubbo:service delay="5000" timeout="2000" retries="0" actives="100" loadbalance="random"
                   interface="com.bhu.vas.api.rpc.devicegroup.iservice.IDeviceGroupRpcService" ref="deviceGroupRpcService"/>
    <dubbo:service delay="5000" timeout="2000" retries="0" actives="100" loadbalance="random"
                   interface="com.bhu.vas.api.rpc.vap.iservice.IVapRpcService" ref="vapRpcService"/>
</beans>