<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">
	<description>Quartz的本地Cron式执行任务配置</description>
	<!-- spring的属性加载器，加载properties文件中的属性 -->  
	<bean id="statisticPropertyConfigurer"  
	    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
		<property name="ignoreUnresolvablePlaceholders" value="true" /> 
	    <property name="location">
			<value>classpath:/deploy/runtimeconf/adtask.properties</value>
	    </property>  
	    <property name="fileEncoding" value="utf-8" />  
	</bean>
	<!-- Quartz本地Schduler -->
	<bean id="localQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<!-- Triggers集成 -->
		<property name="triggers">
			<list>
			
				<!-- 每天1点04分 每天执行一次 -->
				<ref bean="userIncomeBackendTaskLoaderCronTrigger" />	
				<!-- 每天两点零九分 -->
				<ref bean="userIncomeRankLoaderCronTrigger" />	
				<!-- 每月1号3,4,5,6各执行一次 -->
				<ref bean="userIncomeMonthRankTaskLoaderCronTrigger" />
				<!-- 每天1号四点执行 -->
				<ref bean="fincialStatisticsTaskLoaderCronTrigger" />
				
			</list>
		</property>
		<!-- Quartz配置 -->
		<property name="quartzProperties">
			<props><prop key="org.quartz.threadPool.threadCount">5</prop></props>
		</property>
		<!-- 启动时延期3秒开始任务 -->
		<property name="startupDelay" value="3" />
	</bean>
	
	<!-- 正常发布逻辑  -->
	<bean id="userIncomeBackendTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="userIncomeBackendTaskLoaderCronJobDetail" />
		<!--<property name="cronExpression" value="0 54-59 23 * * ?" />  -->
		<property name="cronExpression" value="${statistic.userIncom}" />
	</bean>
	<bean id="userIncomeBackendTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="userIncomeBackendTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="userIncomeBackendTaskLoaderJob" class="com.bhu.vas.plugins.quartz.UserIncomeTaskLoader" />
	
	<!-- 每天两点零九分运行 -->
	<bean id="userIncomeRankLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="userIncomeRankLoaderCronJobDetail" />
		<!-- <property name="cronExpression" value="0 0 12 * * ? " /> -->
		<property name="cronExpression" value="${statistic.userIncomeRank}" />
	</bean>
	<bean id="userIncomeRankLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="userIncomeRankLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="userIncomeRankLoaderJob" class="com.bhu.vas.plugins.quartz.UserIncomeRankTaskLoader" />
	
	<!-- 每月3，4，5，6点运行 -->
	<bean id="userIncomeMonthRankTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="userIncomeMonthRankTaskLoaderCronJobDetail" />
		<property name="cronExpression" value="${statistic.userIncomeMonthRank}" />
	</bean>
	<bean id="userIncomeMonthRankTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="userIncomeMonthRankTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="userIncomeMonthRankTaskLoaderJob" class="com.bhu.vas.plugins.quartz.UserIncomeMonthRankTaskLoader" />
	
	<!-- 每天23点五十分 广告数据全清 -->
	<bean id="fincialStatisticsTaskLoaderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="fincialStatisticsTaskLoaderCronJobDetail" />
		<property name="cronExpression" value="${statistic.fincialStatistics}" />
	</bean>
	<bean id="fincialStatisticsTaskLoaderCronJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="fincialStatisticsTaskLoaderJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="fincialStatisticsTaskLoaderJob" class="com.bhu.vas.plugins.quartz.FincialStatisticsTaskLoader" />

</beans>
