<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-lazy-init="true">
    <!--  ActiveMQ destinations  -->
    <!--  使用Queue方式-->
	<bean id="destinationDeliverMessageQueue" class="org.apache.activemq.command.ActiveMQQueue">  
        <constructor-arg index="0" value="${activemq.queue.name}" />  
    </bean> 
	<!--  Spring JmsTemplate config -->
	<bean id="jmsDeliverMessageTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />  
		<!-- custom MessageConverter 
		<property name="messageConverter" ref="defaultFeedMessageConverter" />-->
	</bean>
	<!-- POJO which send Message uses  Spring JmsTemplate -->
	<bean id="deliverMessageQueueProducer" class="com.bhu.vas.business.asyn.spring.activemq.queue.producer.DeliverMessageQueueProducer">
		<property name="template" ref="jmsDeliverMessageTemplate" />
		<property name="destination" ref="destinationDeliverMessageQueue" />
	</bean>
	
	<bean id="deliverMessageService" class="com.bhu.vas.business.asyn.spring.activemq.service.DeliverMessageService">
	</bean>
</beans>