<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-lazy-init="true">
    
	<!-- 在非 web / ejb 容器中使用 pool 时，要手动 stop，spring 不会为你执行 destroy-method 的方法  --> 
	<bean id="jmsTopicFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">  
        <property name="connectionFactory">  
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">  
                <property name="brokerURL" value="${activemq.topic.server}" />  
                <property name="useAsyncSend" value="true" />
                <!-- 	异步发送 可以提高性能
                		TCP协议时 tcpNoDelay=默认是false ，设置为true可以提高性能
                <property name="useAsyncSend" value="true" />
                <property name="brokerURL" value="failover://(tcp://127.0.0.1:61616?tcpNoDelay=true)" />
                 -->
            </bean>  
        </property>  
        <!-- 创建多少连接进行消费和生产
        <property name="maxConnections" value="20"></property>
         -->
    </bean>  
    
	<!-- 
    <bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory">  
        <property name="brokerURL" value="tcp://localhost:61616" />  
    </bean>   -->    
</beans>