<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-lazy-init="true">
    <bean id="commonImageRule" class="com.smartwork.msip.cores.fsstorerule.image.ruleimpl.CommonImageRule"/>
    <bean id="avatarImageService" class="com.smartwork.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="commonImageRule"/>
		<property name="fileBasePath" 	value="${image.avatars.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.avatars.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	
	<bean id="coverImageService" class="com.smartwork.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule"  ref="commonImageRule"/>
		<property name="fileBasePath" 	value="${image.covers.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.covers.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>

	<bean id="zipService" class="com.smartwork.msip.cores.fsstorerule.zip.ZipService">
		<property name="zipRule" ref="zipRule"/>
		<property name="fileBasePath" 	value="${raw.zip.filebasepath}"/>
		<property name="fileSrcPath" 	value="${raw.zip.filesrcpath}"/>
	</bean>
	<bean id="zipRule" class="com.smartwork.msip.cores.fsstorerule.zip.ruleimpl.ComplexDateZipRule"/>

	<!-- 
	<bean id="audioService" class="com.smartwork.msip.cores.fsstorerule.audio.AudioService">
		<property name="audioRule" ref="audioRule"/>
		<property name="fileBasePath" 	value="${audio.filebasepath}"/>
		<property name="fileSrcPath" 	value="${audio.filesrcpath}"/>
	</bean>
	<bean id="audioRule" class="com.smartwork.msip.cores.fsstorerule.audio.ruleimpl.ComplexDateAudioRule"/>

	<bean id="videoService" class="com.smartwork.msip.cores.fsstorerule.video.VideoService">
		<property name="videoRule" ref="videoRule"/>
		<property name="fileBasePath" 	value="${video.filebasepath}"/>
		<property name="fileSrcPath" 	value="${video.filesrcpath}"/>
	</bean>
	<bean id="videoRule" class="com.smartwork.msip.cores.fsstorerule.video.ruleimpl.ComplexDateVideoRule"/>
 -->
	<!-- 
	<bean id="mediaService" class="com.smartwork.msip.cores.fsstorerule.media.MediaService">
		<property name="mediaRule" ref="commonMediaRule"/>
		<property name="fileBasePath" 	value="${media.filebasepath}"/>
		<property name="fileSrcPath" 	value="${media.filesrcpath}"/>
	</bean>
	 
	<bean id="commonMediaRule" class="com.smartwork.msip.cores.fsstorerule.media.ruleimpl.CommonMediaRule"/>-->
	<!-- 
	<bean id="avatarImageRule" class="com.smartwork.msip.business.resource.rule.CustomerAvatarImageRule"/>
	<bean id="tmpImageRule" class="com.et.msip.business.resource.rule.CustomerTmpImageRule"/>
	<bean id="snsAvatarImageRule" class="com.et.msip.business.resource.rule.CustomerSnsAvatarImageRule"/>
	<bean id="coverImageRule" class="com.et.msip.business.resource.rule.CustomerCoverImageRule"/>
 -->
	<!-- 
	<bean id="audioService" class="com.et.msip.cores.fsstorerule.audio.AudioService">
		<property name="audioRule" ref="audioRule"/>
		<property name="fileBasePath" 	value="${audio.filebasepath}"/>
		<property name="fileSrcPath" 	value="${audio.filesrcpath}"/>
	</bean>
	
	<bean id="audioRule" class="com.et.msip.fsstorerule.extrule.SecureCustomerAudioRule"/>
	<bean id="audioRuleCc" class="com.et.msip.fsstorerule.extrule.SecureCDNTestCustomerAudioRule"/>
	 -->
    <!-- 
	<bean id="artistImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="artistImageRule"/>
		<property name="fileBasePath" 	value="${image.artists.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.artists.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	<bean id="artistImageRule" class="com.et.msip.business.resource.rule.CustomerArtistImageRule"/>

	<bean id="albumImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="albumImageRule"/>
		<property name="fileBasePath" 	value="${image.albums.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.albums.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	<bean id="albumImageRule" class="com.et.msip.business.resource.rule.CustomerAlbumImageRule"/>

	<bean id="billboardImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="billboardImageRule"/>
		<property name="fileBasePath" 	value="${image.billboards.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.billboards.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	<bean id="billboardImageRule" class="com.et.msip.business.resource.rule.CustomerBillboardImageRule"/>
	
	<bean id="billboardCoverImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="billboardCoverImageRule"/>
		<property name="fileBasePath" 	value="${image.billboards.cover.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.billboards.cover.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	
	<bean id="billboardCoverImageRule" class="com.et.msip.business.resource.rule.CustomerBillboardCoverImageRule"/>

	<bean id="billboardCoverMobileImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="commonImageRule"/>
		<property name="fileBasePath" 	value="${image.billboards.cover.mobile.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.billboards.cover.mobile.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>

	<bean id="billboardCoverRectmobImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="commonImageRule"/>
		<property name="fileBasePath" 	value="${image.billboards.cover.rectmob.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.billboards.cover.rectmob.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>


	<bean id="recommendationsImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="recommendationsImageRule"/>
		<property name="fileBasePath" 	value="${image.recommendations.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.recommendations.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	
	<bean id="recommendationsImageRule" class="com.et.msip.business.resource.rule.CustomerRecommendationsImageRule"/>
 -->


	
	<!-- 
	<bean id="chartIssueImageService" class="com.et.msip.cores.fsstorerule.image.ImageService">
		<property name="searchPath" value="${image.imagemagick.path}"/>
		<property name="imageRule" ref="chartIssueImageRule"/>
		<property name="fileBasePath" 	value="${image.chartissue.filebasepath}"/>
		<property name="fileSrcPath" 	value="${image.chartissue.filesrcpath}"/>
		<property name="asyncMode" 		value="true"/>
	</bean>
	<bean id="chartIssueImageRule" class="com.et.msip.business.resource.rule.CustomerChartIssueImageRule"/>
	 -->
		
	<!-- 
	<bean id="lrcService" class="com.et.msip.cores.fsstorerule.lrc.LrcService">
		<property name="lrcRule" ref="lrcRule"/>
		<property name="fileBasePath" 	value="${lrc.filebasepath}"/>
		<property name="fileSrcPath" 	value="${lrc.filesrcpath}"/>
	</bean>
	
	<bean id="lrcRule" class="com.et.msip.business.resource.rule.CustomerLrcRule"/>
	 -->
	 <!-- 
	<bean id="audioRule" class="com.et.msip.business.resource.rule.CustomerAudioRule"/>
	-->
</beans>
